{% load static %}
<!doctype html>
<html lang="en-GB">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static 'images/question_mark.svg' %}" type="image/x-icon">
    <!--<script src="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.css" rel="stylesheet" />-->
    <meta charset="utf-8" />
    <title>About</title>
    
  </head>
  <body>
    <h1>About</h1>
    <h2>This website was created by <a href="mailto:jack.harold@mycit.ie">jack.harold@mycit.ie</a>.</h2>
    <h2>Source code is available <a href="https://github.com/jack82374/map_project">on Github</a> under a GPL License.</h2>
    <a href="/website">Go Back</a>
  </body>
</html>