{% load static %}
<!doctype html>
<html lang="en-GB">
  <head>
    <script src="{% static 'maplibre-gl.js' %}"></script>
  	<link href="{% static 'maplibre-gl.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}" defer></script>
    <!--<script src="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.css" rel="stylesheet" />-->
    <meta charset="utf-8" />
    <title>ML Bus</title>
    
  </head>
  <body>
    <h1>Welcome to the ML Bus System</h1>
    <h2>The map below displays live buses. 205 buses are red, 208 buses are blue!</h2>
    <h2>Light coloured buses are going east, darker ones are going west.</h2>
    <div id="map"></div>
  </body>
</html>