<!--{% load static %}-->
<!doctype html>
<html lang="en-GB">
  <head>
    <!--<script src="{% static 'maplibre-gl.js' %}"></script>
  	<link href="{% static 'maplibre-gl.css' %}" rel="stylesheet" /> -->
    <script src="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>My test page</title>
    <style>
      body { margin: 0; padding: 0; }
      html, body, #map { height: 100%; }
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <p>This is my page</p>
    <p>The test map is below</p>
    <div id="map"></div>
    <script>
        var markers = [];
        //var dynamic_markers = [];
        var map = new maplibregl.Map({
            container: 'map', // container id
            //style: 'https://demotiles.maplibre.org/style.json', // style URL
            //style: 'https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json',
            //style: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
            style: 'https://basemaps.cartocdn.com/gl/voyager-gl-style/style.json',
            // Attribute this to https://carto.com/blog/new-voyager-basemap somewhere
            //style: 'https://raw.githubusercontent.com/go2garret/maps/main/src/assets/json/openStreetMap.json',
            center: [-8.4710, 51.8991], // starting position [lng, lat]
            zoom: 14 // starting zoom
        });
      function fetchStops() {  
        fetch('/website/stops/')
          .then(response => response.json())
          .then(data => {
            markers = data.forEach(stop => {
              const markerElement = document.createElement('div');
              markerElement.className = 'marker';
              markerElement.dataset.stopName = stop.stop_name;

              const marker = new maplibregl.Marker({
                  element: markerElement
              })
              .setLngLat([stop.stop_lon, stop.stop_lat])
              .setPopup(new maplibregl.Popup().setText(stop.stop_name))
              .addTo(map);
              return { marker, markerElement };
            });
            updateVisibleMarkers();
          });
      }

      function fetchLocations() {
        var dynamic_markers = [];
        fetch('/website/locations/')
        .then(response => response.json())
        .then(data => {
          dynamic_markers = data.forEach(position => {
            const markerElement = document.createElement('div');
            markerElement.className = 'marker';
            markerElement.dataset.trip = position.trip;

            const marker = new maplibregl.Marker({
                element: markerElement
            })
            .setLngLat([position.longitude, position.latitude])
            .setPopup(new maplibregl.Popup().setText(position.trip))
            .addTo(map);
            return { marker, markerElement };
          });
          updateVisibleMarkers();
        });
        markers.concat(dynamic_markers)
      }

        function updateVisibleMarkers() {
          const bounds = map.getBounds();
          markers.forEach(({ marker, markerElement }) => {
              const lngLat = marker.getLngLat();
              if (bounds.contains(lngLat)) {
                  markerElement.classList.remove('hidden');
              } else {
                  markerElement.classList.add('hidden');
              }
          });
      }

        fetchStops();
        fetchLocations();

        setInterval(fetchLocations, 30000);

        map.on('move', updateVisibleMarkers);
        map.on('zoom', updateVisibleMarkers);
    </script>
  </body>
</html>