{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stops.css' %}">
    <link rel="icon" href="{% static 'images/bus_stop_white.svg' %}" type="image/x-icon">
    <script>
        const stop_id = "{{stop_id}}";
        console.log(stop_id);
    </script>
    <script src="{% static 'stops_admin.js' %}" defer></script>
    <title>Stop Detail</title>
</head>
<body>
    <h1>Stop: {{ stop_name }}</h1>
    <!--<p>Stop Description: {{ stop.stop_desc }}</p>
    <p>Location:
        Lon: {{ stop.stop_lon }}
        Lat: {{ stop.stop_lat }}</p>-->
    <div id='table'>
    <table id="timeTable">
    </table>
    </div>
    <a href="/website/stop_example/{{stop_id}}">Hide Log</a>
    <a href="/website">Go Back</a>
    <h3><a href="/website/about">About</a></h3>
</body>
</html>